<div class="container">
  <section class="key-room display">
    <img class="hatiware" src="./assets/images/hatiware.jpg" alt="">
    <img class="key-room-img" src="./assets/images/key-room.jpg" alt="">
    <div class="key-hole"></div>
  </section>
  <section class="piano-room">
    <div class="piano-black"></div>
    <img class="piano-room-img" src="./assets/images/piano-room.jpg" alt="">
    <div class="piano"></div>
    <img class="keyboard" src="./assets/images/keyboard.jpg" alt="">
  </section>
  <section class="safe-room">
    <div class="safe-black"></div>
    <img class="safe-room-img" src="./assets/images/safe-room.jpg" alt="">
    <div class="safe"></div>
    <form class="form" onsubmit="return checkAnswer()">
      <input id="answer" type="text" name="answer" autocomplete="off">
      <button type="submit">決定</button>
    </form>
  </section>
  <section class="wood-room">
    <div class="wood-black"></div>
    <img class="wood-room-img" src="./assets/images/wood-room.jpg" alt="">
    <img class="vase" src="./assets/images/tsubo.png" alt="">
    <div class="board"></div>
    <img class="hint" src="./assets/images/hint.png" alt="">
  </section>
  <img src="./assets/images/arrow.png" alt="" id="left">
  <img src="./assets/images/arrow.png" alt="" id="right">

  <p class="message"></p>
</div>
