<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <!-- TODO サイト名 -->
    <title>web template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- TODO -->
    <!-- <meta name="description" content="[サイト説明]"> -->

    <!-- TODO -->
    <!-- <meta property="og:title" content="[サイト名]" /> -->
    <!-- <meta property="og:description" content="[サイトの説明]" /> -->
    <!-- <meta property="og:url" content="[サイトのURL]" /> -->
    <!-- <meta property="og:image" content="[ogp画像のURL]" /> -->
    <!-- <meta property="og:site_name" content="[サイト名]" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja_JP" />

    <!-- TODO -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- <meta name="twitter:site" content="[関連づけるTwitterアカウント]" /> -->
    <!-- <meta name="twitter:title" content="[サイト名]" /> -->
    <!-- <meta name="twitter:description" content="[サイトの説明]" /> -->
    <!-- <meta name="twitter:image" content="[ogp画像のURL]" /> -->

    <!-- TODO -->
    <!-- <link rel="icon" href="/favicon.ico"> -->

    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <%- include('escape'); %>
    <script type="text/javascript" src="./assets/index.js"></script>
  </body>
</html>
