.container {
  position: relative;
  top: 100px;
  right: 0;
  left: 0;
  width: 450px;
  margin: 0 auto;

  .key-room,
  .safe-room,
  .wood-room,
  .piano-room {
    border: solid 4px black;
    position: absolute;
    display: none;
  }

  .display {
    display: block;
  }

  .left {
    position: absolute;
    left: 9px;
    top: 240px;
    width: 15%;
    transform:rotate(180deg);
  }

  .right {
    position: absolute;
    right: 0;
    top: 240px;
    width: 15%;
  }
}
